---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="A propos de moi">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Développeur Web Full-Stack
      <br />
      <br />
      Les principales technologies avec lesquelles je travaille sont :
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>Php / Laravel</li>
        <li>Wordpress</li>
        <li>Shopify</li>
        <li>Git</li>
        <li>SQL</li>
        <li>HTML</li>
        <li>Tailwind</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Ayant occupé des postes dans le management par le passé, j'ai décidé de suivre ma passion pour la technologie et le développement. Cette transition m'a permis de combiner mes compétences antérieur en gestion avec ma passion pour le développement web, me permettant ainsi d'explorer et de contribuer à un domaine dynamique et en constante évolution.
    </p>
  </div>
</Card>
