---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Ma situation actuelle</h2>
      <a href="https://sive.rs/nowff" target="_blank">
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Je suis actuellement à la recherche d'un emploi et de nouveaux projets, qui sauront me challenger ! Ouvert à tous type de contrat.</p>
</Card>
